# editors
.vscode/
.idea/

# Intellij
*.iml

# npm
node_modules/
.npm-cache/
npm-debug.log*

# build output
main.js
*.tsbuildinfo
.eslintcache
coverage/

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# local agent/tooling data
.claude
